*{
    background-color: rgb(53, 52, 52);
    color:white;
}
.navigation{
    display:flex;
    justify-items:right;
    justify-content: space-evenly;
    color:white;
}
.box{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    width:1400px;
    justify-content: space-evenly;
}
.photo{
    background-image: url("img.jpg");
    background-size: cover;
    height:300px;
    width:300px;
    border:2px solid white;
    border-radius:50%;
    background-color: white;
}
.pro{
    display:flex;
}
.about{
    padding-left:50px;
}
h1{
    color:rgb(249, 84, 84);
}
button{
    background-color: rgb(249, 84, 84);
    border:2px solid transparent;
    border-radius:10%;
}
.skill{
    color:white;
    padding-left:150px;   
}
.skills{
   height:400px;
   background-color: rgb(250, 92, 89);
   display:flex;
   align-items: center;
   justify-content: space-evenly;
}
